<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.FindStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindStudentServlets</servlet-name>
        <servlet-class>za.ac.tut.web.FindStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindStudentServlet</servlet-name>
        <url-pattern>/FindStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindStudentServlets</servlet-name>
        <url-pattern>/FindStudentsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/UpdateStudentServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPage.jsp</location>
    </error-page>
</web-app>
